@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: #f9f9f9;
    color: #030303;
    font-family: 'Bebas Neue', cursive;
}

.parent-div {
    background-color: #fff;
    width: 80%;
    padding: 20px 30px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 5px;
    border: 3px solid black;
  
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    .heading{
        font-family: 'Bebas Neue', cursive;
    }
    form {
        textarea {
            width: 100%;
            border: 1px solid #030303;
            outline: none;

            &:focus {
                border: 1px solid #030303;
            }
        }

        button {
            background-color: #030303;
            color: #fff;
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 20px;
            margin-top: 20px;
            width: 100%;
            cursor: pointer;
            font-size: 20px;

        }
    }
    .form-element{
        width: 50%;
        margin-top: 50px;
    }
    .form-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        
       
    }
   .notes-div{
       display: block;
       background-color: #fff;
       padding: 20px;
       width: 70%;
    
    
        .pagination-box{
            display: flex;
            justify-content: center;
           
            color: #030303;
        }

   }
   .heading-texts{
       display: flex;
       justify-content: space-between;
       background-color: #030303;
       color: #fff;
       padding: 10px 20px;
       margin-top: 20px;
   }
 

}

.list-of-notes{
    list-style-type: none;
  
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  

    .list{
        border: 1px solid gray;
        padding: 20px;
     
        margin: 0 auto;
        margin-top: 20px;
        
    }
}

.save-notes-button{
    background-color: #030303;
    color: #fff;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
    border: none;
    width: 30%;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 20px;
}
.displayed-notes{
    list-style-type: none;
    border: 1px solid #030303;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.no-notes{
    text-align: center;
}
.delete-btn{
    display: block;
    margin: 0 auto;
    background-color: #030303;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    color: #fff;
    padding: 10px 20px;
}
.loader{
    display: block;
    margin: 0 auto;
}
.loader-box{
    height: auto;
}
.div-that-holds-input-and-list{
    display: flex;
    // margin-top: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color: #030303;
    color: #fff;
    margin-bottom: 10px;
}
.check-box{
    margin: 10px;
}
.list-div{
    margin-top: 32px;
}
